.nav {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  text-align: right;
  background-color:rgb(1, 8, 10); 
  border-radius: 0px;
  /* max-width: 100%; */
  
  
}

.navlist {
  float: right;
  
}
footer {
  text-align: left;
  padding: 0px;
  background-color:rgb(1, 8, 10);
  color: white;
  bottom: 0cm;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

li a:hover {
  background-color:rgb(6, 29, 36);
}
img {
  border-radius: 10%;
  
}
.content {
  
  /* background-image:  url("img.jpg");  */
  background-color: rgb(1, 8, 10);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover

}
.active {
  background-color: rgb(3, 16, 20) ;
}

.info {
margin-top: 15%;
margin-left: 20%;
margin-right: 20%;
text-align: center;
}

.fontstyle {
  text-align: center;
  margin-left: 24%;
	border-top: 2px solid #414142;  
border-bottom: 2px solid #414142;  
border-left: 2px solid #414142;  
border-right: 2px solid #414142; 
border: 2px solid #414142;  
padding: 5px; 
background-color:#628a84; 
font-size: 20px;
font-style: italic;
width: 50%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {box-sizing: border-box}

.skillcontainer {
  width: 60%;
  background-color: #ddd;
  text-align: center;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.skilhtml {width: 90%; background-color: #b4eb34;}
.skilcss {width: 80%; background-color: #174469;}
.skiljs {width: 65%; background-color: #7a0867;}
.skilphp {width: 60%; background-color: #068877;}
.skilml {width: 60%; background-color: #810808;}





 /* Style the Sticky icons on web page */ 
 .stickyicon-list { 
  position: fixed; 
  bottom: 0px; 
  transform: translateY(-50%); 
  text-align: center;
  padding: 5px;
  background-color:rgb(1, 8, 10);
  color: white;

  
  }          
     
  .stickyicon-list a { 
  display: block; 
  text-align: center; 
  padding: 8px; 
  transition: all 0.5s ease; 
  color: white; 
  font-size: 20px; 
  }       
  /* HOver affect on sticky social media icons */ 
  .stickyicon-list a:hover { 
  color: #000; 
   
  } 
   
  /* Now we have to design each icon of social media */       
  .facebook { 
  /* background: #3b5998;  */
  color: white;
  }       
  .twitter { 
  color: white; 
  /* background: #00acee;  */
  } 
  .linkedin { 
  /* background: #0e76a8;  */
  color: white; 
  }       
  
  .instagram { 
  /* background: #3f729b;  */
  color: white; 
  }       
  .github { 
  color: white; 
  /* background: #c4302b;   */
  } 

  
