.nav {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  text-align: right;
  background-color:rgb(1, 8, 10); 
  border-radius: 0px;
  /* max-width: 100%; */
  
  
}
.navbar-custom {
  background-color: rgb(1, 8, 10);
  font-weight: lighter;
}
.navlist {
  float: right;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
display:        inline;
color:         white;                        
/* font-family:    Garamond; */
font-size:      18px;
padding:        5px 20px;
font-weight:lighter;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav li{
  padding-right:15px;
 }
/* footer {
  text-align: left;
  padding: 0px;
  background-color:rgb(1, 8, 10);
  color: white;
  bottom: 0cm;
} */

.lia {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size:medium;
  
  
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  
  
}
.navcolor {
  color: red !important;
}

.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: #7eb444;
}
.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

li a:hover {
  background-color:rgb(6, 29, 36);
  color: white;
}
img {
  border-radius: 60%;
  
}
.content {
  
  /* background-image:  url("img.jpg");  */
  background-color: rgb(1, 8, 10);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover

}
.active {
  background-color: rgb(3, 16, 20) ;
}

.info {
margin-top: 15%;
margin-left: 20%;
margin-right: 20%;
text-align: center;
}

.fontstyle {
  text-align: center;
  margin-left: 24%;
	border-top: 2px solid #414142;  
border-bottom: 2px solid #414142;  
border-left: 2px solid #414142;  
border-right: 2px solid #414142; 
border: 2px solid #414142;  
padding: 5px; 
background-color:#628a84; 
font-size: 20px;
font-style: italic;
width: 50%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {box-sizing: border-box}

.skillcontainer {
  width: 60%;
  background-color: #ddd;
  text-align: center;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.skilhtml {width: 90%; background-color: #b4eb34;}
.skilcss {width: 80%; background-color: #174469;}
.skiljs {width: 65%; background-color: #7a0867;}
.skilphp {width: 60%; background-color: #068877;}
.skilml {width: 60%; background-color: #810808;}





 /* Style the Sticky icons on web page */ 
 .stickyicon-list { 
  position: fixed; 
  bottom: 0%; 
  transform: translateY(-50%); 
  text-align: center;
  padding: 5px;
  background-color:rgb(1, 8, 10);
  color: white;

  
  }          
     
  .stickyicon-list a { 
  display: block; 
  text-align: center; 
  padding: 8px; 
  transition: all 0.5s ease; 
  color: white; 
  font-size: 20px; 
  }       
  /* HOver affect on sticky social media icons */ 
  .stickyicon-list a:hover { 
  color: #000; 
   
  } 
   
  /* Now we have to design each icon of social media */       
  .facebook { 
  /* background: #3b5998;  */
  color: white;
  }       
  .twitter { 
  color: white; 
  /* background: #00acee;  */
  } 
  .linkedin { 
  /* background: #0e76a8;  */
  color: white; 
  }       
  
  .instagram { 
  /* background: #3f729b;  */
  color: white; 
  }       
  .github { 
  color: white; 
  /* background: #c4302b;   */
  } 

  
/* slidder*/
#slider {
  overflow: hidden;
}

@keyframes slider {
  0% {
    left: 0;
  }

  30% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  63% {
    left: -100%;
  }

  66% {
    left: -200%;
  }

  95% {
    left: -200%;
  }

  100% {
    left: 0;
  }
}

#slider figure {
  width: 100%;
  position: relative;
  animation: 2s slider forwards;

}

#slider figure:hover {
  /*animation-play-state: paused; enable for pause on hover*/
}

#slider figure img {
  width: 140px;
  height: 140px;
  border-radius: 70%;
  float: left;

}

/** projects */


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.conta {
  padding: 0px;
  width: 100%;

}

.row:after {
  content: "";
  display: table;
  clear: both;

}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 25px;
}

.xlarge-font {
  font-size: 30px;
  color: white;
}

.button {
  border: 1px;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;

}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {

  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }

  img {
    margin: auto;
  }
}